// default layout
layout {
    cwd "" // keep cwd on split
    swap_tiled_layout {
        tab max_panes=2 {
            pane split_direction="vertical" {
                pane
                pane
            }
        }
        tab max_panes=3 {
            pane split_direction="vertical" {
                pane
                pane
                pane
            }
        }
        tab max_panes=4 {
            pane split_direction="vertical" {
                pane split_direction="horizontal" {
                    pane
                    pane
                }
                pane split_direction="horizontal" {
                    pane
                    pane
                }
            }
        }
    }
}
